html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* Push content below navbar + banner */
.page-content {
  margin-top: 20px;     
  padding: 16px;
}


/*================================product-detail.css */
