

<nav class="navbar">
  <a routerLink="/" class="nav-link">Home</a> 
  <a routerLink="/cart" class="nav-link" >Cart</a> 
  <a routerLink="/checkout" class="nav-link">Checkout</a>
  <div class="nav-right">
    <a routerLink="/signUp" class="nav-link">Sign Up</a>
    <a routerLink="/login" class="nav-link">Login</a>
  </div>
</nav>

<!-- Sticky GIF -->
<!-- <div class="sticky-banner">
  <img src="assets/banner3.gif" alt="Offer" /> -->
  <!-- <img src="https://pin.it/2cslCFilq" alt="Offer" /> -->
<!-- </div> -->

<!-- Routed pages -->
<!-- <div class="page-content"> -->

<router-outlet></router-outlet>
