<!-- 
<div *ngIf="product">
  <img [src]="product.image" width="300" />

  <h2>{{ product.name }}</h2>
  <div class="product-info">
  <span class="label">Description:</span>
  <span class="value">{{ product.description }}</span>
</div>

<div class="product-info">
  <span class="label">Color:</span>
  <span class="value">{{ product.color }}</span>
</div>
<div class="product-info">
  <span class="label">Price:</span>
  <span class="value">{{ product.price }}</span>
</div>
  
<br>
  <button>Add to Cart</button>
</div> -->
<div class="product-detail-card" *ngIf="product">

  <img [src]="product.image" alt="{{ product.name }}">

  <div class="details">
    <h2>{{ product.name }}</h2>

    <div class="product-info">
      <span class="label">Description:</span>
      <span class="value">{{ product.description }}</span>
    </div>

    <div class="product-info">
      <span class="label">Color:</span>
      <span class="value">{{ product.color }}</span>
    </div>

    <div class="product-info">
      <span class="label">Price:</span>
      <span class="value price">₹ {{ product.price }}</span>
    </div>

    <button class="add-btn">Add to Cart</button>
  </div>

</div>
