/* .product-info {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.label {
  font-weight: 600;
  min-width: 90px;
}

.value {
  color: #555;
} */
:host {
  display: block;
  padding: 40px 16px;
  font-family: 'Segoe UI', sans-serif;
}

.product-detail-card {
  display: flex;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;      /* center page */
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    
}

.product-detail-card img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
    object-position: top center; 
}

.details h2 {
  font-size: 26px;
  margin-bottom: 16px;
}

.product-info {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  min-width: 110px;
  font-weight: 600;
}

.value.price {
  font-size: 20px;
  font-weight: 700;
  color: #d32f2f;
}

.add-btn {
  margin-top: 20px;
  padding: 12px 28px;
}
